Problem : - 1

In [ ]:
# Write a program to reverse a string
User_input = input("Type any word to reverse the word ") # Input from the user to store any sentence or word.
reversed_string = User_input [::-1] # reversing the word by slicing
print(reversed_string) # Printing the output

In [3]:
# Covert String to upper case
User_input = input("Type any word to convert to uppercase ") # Input from the user to store any sentence or word.
User_input.upper() # Converting the input to upper case

Type any word to reverse the word  etgtwg

'ETGTWG'

In [4]:
# Covert String to lower case
User_input = input("Type any word to convert to lowercase") # Input from the user to store any sentence or word.
User_input.lower() # Converting the input to lower case

Type any word to reverse the word  HWHJKCHWJC

'hwhjkchwjc'

In [5]:
# counting the number of vowels in a string
User_input = input("Type any sentence or word to count the number of vowels in sentence.") # Input from the user to store any sentence or word.
Vowels = "aeiouAEIOU" # Storing the vowels in upper case / Lower case to recognise if user input the data in lower case or uppercase 
vowel_count = sum(User_input.count(Vowels) for Vowels in Vowels) # counting the length of vowels from the user_input variable. 
print(f"Number of vowels in the sentence {vowel_count}")

Type any sentence or word to count the number of vowels in sentence. GNEIGEJHRBGJGB

Number of vowels in the sentence 3

In [6]:
# counting the number of vowels in a string
User_input = input("Type any sentence or word to count the number of vowels in sentence.") # Input from the user to store any sentence or word.
Vowels != "aeiouAEIOU" # Storing the vowels in upper case / Lower case to recognise if user input the data in lower case or uppercase 
vowel_count = sum(User_input.count(Vowels) for Vowels in Vowels) # counting the length of vowels from the user_input variable. 
print(f"Number of vowels in the sentence {vowel_count}")

Type any sentence or word to count the number of vowels in sentence. JHFGKJDFBJDFNVJKVFDV

Number of vowels in the sentence 0

In [16]:
# Remove all whitespaces from a string 
User_input = input("Type any sentence to remove whitespaces") # Input from the user to store any sentence or word.
string_without_spaces = User_input.replace(" ", "") # Removing spaces using replace function
print(string_without_spaces)  # Printing the output

Type any sentence to remove whitespaces aerge ergetgeg

aergeergetgeg

In [4]:
# Find length of a string
User_input= input("check the length of the function")  # Input from the user to store any sentence or word.
length = User_input.count('') # using count function counting each string.
length -= 1  # Decrease length by 1
print(length)  # Printing the output

check the length of the function vhqeriuiovjqelf\

16

In [10]:
# Count the occurrences of a word in a string.
User_input= "Count the occurrences of a word in a string." # Input from the user to store any sentence or word.
length = User_input.count("the") 
print (length) # Printing the output

1

In [15]:
# Find the first occurrence of a word in a string.
User_input= "rakesh Etikala" 
first_word =User_input [0] # accessing the first word in a string. 
print(first_word) # Printing the output

r

In [16]:
# Find the last occurrence of a word in a string.
User_input= "rakesh Etikala"
last_word = User_input [-1] # accessing the last word in a string. 
print(last_word) # Printing the output

a

In [ ]:
# Split a string into a list of words.
User_input = input("Type any sentence to split ") # Input from the user to store any sentence or word.
string = User_input.rsplit(sep=None, maxsplit=-1) # Splitting  
print(string) # Printing the output

In [30]:
#Convert a string where words are separated by spaces to one where words are separated by underscores.
User_input = input("Type any sentence to Convert a string where words are separated by spaces to one where words are separated by underscores. ")
string_without_spaces = User_input.replace(" ", "_")
print(string_without_spaces)

Type any sentence to Convert a string where words are separated by spaces to one where words are separated by underscores.  rjvqoive qiorjoijv njernjvoierjv

rjvqoive_qiorjoijv_njernjvoierjv

In [36]:
#Convert a string to title case
user_input = input("Enter any string to convert it to title") # Input from the user to store any sentence or word.
title = user_input.title() # Converting user input as title by using title function
print(title) # Printing the output

Enter any string to convert it to title hello world

Hello World

list

In [1]:
# Create a list with integers from 1 to 10.
l1 = [1,2,3,4,5,6,7,8,9] # Storing integers in a list
print(l1) # Printing the output

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# Find the length of a list without using the `len()` function.
l1 = [1,2,3,4,5,6] # Storing integers in a list
count = len(l1)
print(count) # Printing the output

6

In [3]:
# Append an element to the end of a list.
l1 = [1,2,3,4] # Storing integers in a list
l1 + [6]

[1, 2, 3, 4, 6]

In [4]:
# Insert an element at a specific index in a list.
l1 = [1,2,3,4,2] # Storing integers in a list
l1[1:2:6]

[2]

In [5]:
# Append an element to the end of a list.
l2 = [8] # appending integer in a list
l1+l2

[1, 2, 3, 4, 2, 8]

In [6]:
# Insert an element at a specific index in a list.
l1.insert(2,88)

In [7]:
l1

[1, 2, 88, 3, 4, 2]

In [8]:
# Remove an element from a list by its value.
l1.remove(88)

In [9]:
l1

[1, 2, 3, 4, 2]

In [10]:
# Find the index of the first occurrence of an element in a list.
l1.index(1)

0

In [11]:
# Count the occurrences of an element in a list.
l1.count(2)

2

In [12]:
# Reverse the order of elements in a list.
l1 = [1,2,3,4,2]
l1[::-1]

[2, 4, 3, 2, 1]

In [13]:
# Sort a list in ascending order.
l1.sort()

In [14]:
l1

[1, 2, 2, 3, 4]

In [15]:
# Sort a list in descending order.
l1.sort(reverse=True)

In [16]:
l1

[4, 3, 2, 2, 1]

In [17]:
# Find the sum of all elements in a list.
add = sum(l1)
add

12

In [18]:
# Find the maximum value in a list.
maximum_value = max(l1)
maximum_value

4

In [19]:
# Find the minimum value in a list.
minimum_value = min(l1)
minimum_value

1

In [20]:
# Remove duplicates from a list.
duplicate_values =  list(set(l1))
duplicate_values

[1, 2, 3, 4]

In [49]:
# Create a tuple with integers from 1 to 5.
t1 = (1,2,3,4,5,5)

In [50]:
# Access the third element of a tuple.
t1 [2]

3

In [51]:
# Count the occurrences of an element in a tuple.
occurrences = t1.count(5)
occurrences

2

In [52]:
# Find the index of the first occurrence of an element in a tuple.
t1.index(5)

4

In [53]:
# Convert a tuple to a list.
tuple= (1,2,3)

In [54]:
type(tuple)

tuple

In [55]:
come = [tuple]

In [56]:
come

[(1, 2, 3)]

In [57]:
type(come)

list

In [58]:
# Concatenate two tuples.
tuple1 = (1,2,3,4,5,6)
tuple2 = (2,3,4,5,6,8)

In [59]:
tuple1+tuple2

(1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 8)

In [60]:
# Repeat a tuple three times.
tuple1 * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [61]:
# Create a nested tuple.
tuple5 = (1,2,3,4,5,6,7,8,9,(1,2,3,4))

In [62]:
# Access the first element of a nested tuple.
tuple5[-1][0]

1

In [63]:
# Create a tuple with a single element.
single_element = (1,)
single_element

(1,)

In [70]:
# Delete a tuple.
tuple8 = (1,5,8,9,6,4,5)
del tuple8

In [76]:
# Slice a tuple.
tuple4 = (2,3,5,6,8,9,10)
tuple4 [0:5]

(2, 3, 5, 6, 8)

In [79]:
# Find the maximum value in a tuple.
highesh_number= max (tuple4)
highesh_number

10

In [80]:
# Find the minimum value in a tuple.
lowest_number = min (tuple4)
lowest_number

2

In [86]:
# Create a tuple from multiple data types.
tuple9 = (1,2,3,4, "rakesh",True, 5.6)
tuple9

(1, 2, 3, 4, 'rakesh', True, 5.6)

In [1]:
# Sort the elements of a tuple.
tuple6 = (2,8,3,4,5,7,9,1)
elements = sorted(tuple6)

In [3]:
elements

[1, 2, 3, 4, 5, 7, 8, 9]

In [4]:
# Merge two tuples.
tuple3 = (6,8,9,5,3,2,1)
tuple0 = (2.2,3.1,8.9,1.1)
tuple3+tuple0

(6, 8, 9, 5, 3, 2, 1, 2.2, 3.1, 8.9, 1.1)

Set

In [15]:
# Create a set with integers from 1 to 5.
Set1 = {1,2,3,4,5}
Set1

{1, 2, 3, 4, 5}

In [16]:
# Add an element to a set.
Set1.add(6)

In [17]:
Set1

{1, 2, 3, 4, 5, 6}

In [18]:
# Remove an element from a set.
Set1.remove(6)

In [19]:
Set1

{1, 2, 3, 4, 5}

In [23]:
# Clear all elements from a set.
Set1.clear()
Set1

set()

In [26]:
# Find the union of two sets.
Set2 = {1,2,3,5,6,8,9}
Set3 = {2,3,5,6,4,8,9}
Union = Set2 | Set3
Union

{1, 2, 3, 4, 5, 6, 8, 9}

In [27]:
# Find the intersection of two sets.
Intersection = Set2.intersection(Set3)
Intersection

{2, 3, 5, 6, 8, 9}

In [29]:
# Find the difference between two sets.
Difference = Set2.difference(Set3)
Difference

{1}

In [34]:
# Create a set from a list.
my_list = [5,6,8,9]
value = set(my_list)
type(value)

set

In [35]:
# Convert a set to a list.
Set4 = {8,9,7}
value12 = list(Set4)
type(value12)

list

In [49]:
# Pop an element from a set.
Set7 = {8,9,7}
remove = Set7.pop()
Set7

{7, 9}

In [52]:
# Find the symmetric difference between two sets.
Set9 = {5,7,8,3.3,8,1}
Set0 = {7,5,4,2,1,5,6}
Symmetric = Set9.symmetric_difference(Set0)
Symmetric

{2, 3.3, 4, 6, 8}

In [55]:
# Create a frozen set.
my_set = {4,5,6,7,81}
frozen = frozenset(my_set)
frozen

frozenset({4, 5, 6, 7, 81})

In [64]:
# Remove an element from a set using the discard method.
Set55 = {7,5,4,8,8,5,5}
Set55.discard(0)
Set55

{4, 5, 7, 8}

In [65]:
# Compare two sets.
first = {4,7,8,9}
second = {7,8,9,5,6}
compare = first.issuperset(second)
compare

False

In [5]:
# Create a set from a string.
string = "Rakesh"
create = set(string)
type(create)

set

In [10]:
# Create a set from a tuple.
tuples = (4,6,7)
create = set(tuples)
type(create)

set

In [13]:
# Convert a set to a tuple.
sets = {4,6,7}
create = tuple(sets)
type(create)

tuple

In [5]:
# Find the maximum value in a set.
numbers = {4,6,7}
highest = max(numbers)
highest

7

In [6]:
# Find the minimum value in a set.
numbers = {4,6,7}
highest = min(numbers)
highest

4

In [8]:
# Create a set from user input.
user = input("Enter any integer value")
user_input = set(user)
user_input

Enter any integer value 6564164414

{'1', '4', '5', '6'}

In [11]:
# Remove duplicates from a list using sets.
numbers = [1,2,3,5,5,6,8,6,9,9]
duplicates = set(numbers)
duplicates

{1, 2, 3, 5, 6, 8, 9}

In [14]:
# Merge multiple sets into one.
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {7,8,9}
merged_set = set1.union(set2,set3)
merged_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}